<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="stylesheet" href="/public/lib/css/bootstrap.min.css" />
    <script src="/public/lib/js/bootstrap.min.js"></script>
    <script src="/public/lib/js/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <%- include('templates/rooms_heading.ejs') %>

    <div class="main-container">
      <div class="page-header">
        <h1>Chat App</h1>
      </div>
      <div class="messages">
        <div class="left-side">
          <div class="create-account">
            <% if (message == "invalid cred") { %>
              <p>Invalid credentials make sure that your username is 5-30 characters 
                long and your password is at least 8 long and has one number</p>
            <% } else if (message == "user exists") { %>
              <p>A user by that name already exists</p>
            <% } %> 
            <form action="/signup" method="POST">
              <label for="username">Username:</label>
              <input type="text" autocomplete="off" name="username" id="username"></input>

              <label for="email">Email:</label>
              <input type="text" autocomplete="off" name="email" id="email"></input>

              <label for="password">Password:</label>
              <input type="password" autocomplete="off" name="password" id="password"></input>

              <button type="submit" class="btn">Submit</button>
            </form>
          </div>
        </div>
        <div class="right-side">
          <div class="info"></div>
          <div class="enter-anonymous"></div>
        </div>
      </div>
    </div>
  </body>
</html>
