<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/css/login.css" />
    <link rel="stylesheet" href="/public/lib/css/bootstrap.min.css" />
    <script src="/public/lib/js/bootstrap.min.js"></script>
    <script src="/public/lib/js/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <!-- Include the navbar and pass in the rendering user -->
    <%- include('templates/rooms_heading.ejs', { user: user ? user : null }) %>

    <div class="main-container">
      <div class="page-header">
        <h1>Login</h1>
      </div>
      <div class="messages">
        <!-- if an error occurred, display it -->
        <p><%= messages.error ? messages.error : "" %></p>
        <form action="/login" method="POST">
          <label for="username">Username:</label>
          <input type="text" autocomplete="off" name="username" id="username">

          <label for="password">Password:</label>
          <input type="password" autocomplete="off" name="password" id="password">

          <button type="submit" class="btn">Submit</button>
        </form>
        <a href="/">Create An Account</a>
      </div>
    </div>
  </body>
</html>
