<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/public/css/room.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/lib/css/bootstrap.min.css" />
    <script src="/public/lib/js/bootstrap.min.js"></script>
    <script src="/public/lib/js/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=room_name%></title>
  </head>
  <body>
    <!-- Include the navbar and pass in the rendering user -->
    <%- include('templates/rooms_heading.ejs', { user: user ? user : null }) %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/room.js"></script>
    <div class="main_container">
      <div class="pageHeader">
        <!-- show the room name -->
        <h1><%=room_name%></h1>
        <!-- if this is the favourite room display the star -->
        <% if (user.favourite) { %> 
          <img src="/public/images/star.png"></img>
        <% } %>
      </div>
      <div class="currentUserList">
        <ul>
        </ul>
      </div>
      <div class="messages">
        <ul>
        </ul>
      </div>
      <div class="sendMessage">
        <textarea class="message_to_send" rows="0"></textarea>
        <button class="btn sendButton">Send</button>
      </div>
    </div>
  </body>
</html>
