.messages {
  background-color: #212529;
  float: left;
  height: 700px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.messages form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

.messages form input {
  background-color: #383F45;
  caret-color: #2b6ca8;
  margin-top: 10px;
  width: 100%
}

.messages form label {
  margin-top: 10px;
  color:cadetblue;
  font-family: 'Roboto', sans-serif;
}

.messages form .btn {
  background-color:#42617E;
  margin-top: 20px;
}

.messages p {
  color:#dd403a;
}

.messages a {
  margin-top: 30px;
}