.messages {
  background-color: #212529;
  float: left;
  height: 700px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-evenly;
}

.left-side {
  width: 50%;
  height: 100%
} 

.left-side p {
  color: cadetblue;
  padding-left: 20px;
}

.right-side {
  width: 50%;
  height: 100%
}

.page-header h4 {
  text-decoration: none;
  color: cadetblue;
}

.left-side a {
  text-decoration: none;
  color: cadetblue;
}