.main-container {
  display: flex;
  flex-direction: column;
  width: 1300px;
  margin: 30px auto 0 auto;
}

.page-header {
  background-color: #212529;
  float: left;
  border: 1px solid;
  height: 100px;
  width: 100%;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

.messages {
  background-color: #212529;
  float: left;
  height: 700px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-evenly;
}

.page-header h1 {
  text-align: center;
  font-size: 60px;
  color: cadetblue;
  font-family: 'Roboto', sans-serif;
}

.left-side {
  width: 50%;
  height: 100%
} 

.left-side p {
  color: cadetblue;
  padding-left: 20px;
}

.right-side {
  width: 50%;
  height: 100%
}