<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/lib/js/bootstrap.min.js"></script>
    <script src="/static/lib/js/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1 class="bg-primary">Home</h1>

    <form action="/room" method="get">
        <input type="number" name="num" id="room" value="">
        <input type="submit" value="GO">
    </form>
</body>
</html>