<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
    <script src="/static/lib/js/bootstrap.min.js"></script>
    <script src="/static/lib/js/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8">

    <title>Chatroom {{ room_number }}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>